header .intro-tex .intro-headin {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    
    font-weight: 200  !important;
    font-size: 10px  !important;
    line-height: 20px  !important;
    margin-bottom: 25px  !importan;
}
.bg-color
{
	    background-color: 	#778899 !important;
		border-color: #778899 !important;
}